@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,400&display=swap");
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.App {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  min-height: 525px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px 0 15px;
}

.header {
  color: #ead7d7;

  font-size: 4.35rem;
  text-align: center;
  padding: 16px 0 32px 0;
}
.main {
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.15);
}
.input-field {
  padding: 25px 15px 25px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.strike {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}
.strike-text {
  color: #000;
}
@media (min-width: 319px) and (max-width: 767px) {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
  }
  .filters-box {
    padding: 16px 0;
  }
}
@media (min-width: 767px) {
  .filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 20px;
  }
}
